%% Load data for the "fruit" benchmark.  Up to 10M keys may be
%% generated, but no larger.  The fruit data is used to test the
%% performance of boolean queries.
{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.

%% example
%% {http_conns, [{"10.0.1.80", 8098},
%%               {"10.0.1.81", 8098},
%%               {"10.0.1.82", 8098},
%%               {"10.0.1.83", 8098},
%%               {"10.0.1.84", 8098}]}.

%% This is needed to keep the driver from erroring.
{pb_conns, []}.

%% The following keygen/ops will load the data.  Run this first and
%% then execute the query benchmarks
{duration, infinity}.
{key_generator, {function,  yz_driver, fruit_key_val_gen, [1000000]}}.
{operations, [{load_fruit, 1}]}.
