{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Juliet
%%
%% This case is meant to check for _any_ overhead imposed by smart
%% conj.  The thinking is that if all terms match a small number of
%% docs then parallel will be better than sequential.  If smart conj
%% can break even here and on the worst case then that is really good.
%%
%% cardinalities: 1, 1
{duration, <duration>}.
{operations, [{{search, "citron AND jocote", "id"}, 1}]}.

