{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Kilo
%%
%% This query is meant to see how much data is read from disk and
%% transferred over the network.  By default Riak Search will bomb on
%% this because of it's default max results of 100k.  This should show
%% the stark contrast between Riak Search and Yokozuna when it comes
%% to queries for common terms.
%%
%% cardinalities: 1M
{duration, <duration>}.
{operations, [{{search, "apricot", "id"}, 1}]}.
