{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% India
%%
%% This case is meant to check for overhead in smart conj and just
%% test out querying many terms.
%%
%% cardinalities: 1, 10, 1, 100, 10
{duration, <duration>}.
{operations, [{{search, "korlan AND nunga AND genip AND nutmeg AND kumquat", "id"}, 1}]}.
