{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Golf
%%
%% This is kind of a mix between bad/good for smart conj.  1k doc ids
%% will have to be copied over.
%%
%% cardinalities: 1K, 10K, 100K
{duration, <duration>}.
{operations, [{{search, "lime AND raspberry AND grape", "id"}, 1}]}.
