{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Delta
%%
%% This is a good case for smart conj b/c it has some largeish matches
%% but one matches only 10
%%
%% cardinalities: 10K, 100, 10
{duration, <duration>}.
{operations, [{{search, "avocado AND nutmeg AND nance", "id"}, 1}]}.
