{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Echo
%%
%% Another good case, this one starts to potentially even out between
%% old/new conj since all terms match small number of postings.
%%
%% cardinalities: 10, 1K, 10
{duration, <duration>}.
{operations, [{{search, "mulberry AND clementine AND peanut", "id"}, 1}]}.
