{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Foxtrot
%%
%% This is potentially a bad case for smart conj since all terms match
%% same number of docs and smart conj is sequential rather than parallel.
%%
%% cardinalities: 10K, 10K, 10K
{duration, <duration>}.
{operations, [{{search, "persimmon AND cherry AND tomato", "id"}, 1}]}.
