{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Alpha
%%
%% This query is one of the best cases for the smarter conjunction b/c
%% one of the queries matches 0 terms and two others match 100K docs.
%% This means the old conjunction will do all the work of iterating
%% 200K docs where the smart one will do 0.
%%
%% cardinalities: 100K, 100K, 0
{duration, <duration>}.
{operations, [{{search, "pineapple AND grape AND notafruit", "id"}, 1}]}.
