{mode, max}.
{concurrent, <concurrent>}.
{driver, yz_driver}.
{code_paths, ["<path-to-yokozuna>/misc/bench"]}.
{index_path, "/riak/fruit"}.
{search_path, "/search/fruit"}.
{http_conns, <hosts-ports>}.
{pb_conns, []}.

%% Beta
%%
%% Another best case for smart conj, but unlike last one there is a
%% total of 1 doc that matches so it must be streamed thru the other 2
%% 100K matches.
%%
%% cardinalities: 100K, 100K, 1
{duration, <duration>}.
{operations, [{{search, "apple AND orange AND jujube", "id"}, 1}]}.
