*~
deps
doc
ebin
priv/java_lib
priv/conf/lang
priv/conf/*.txt
priv/solr/etc/create-solrtest.keystore.sh
priv/solr/etc/webdefault.xml
priv/solr/lib
priv/solr/resources
priv/solr/start.jar
priv/solr/webapps
priv/solr/solr-webapp
build/
*.class
*.tgz
.rebar/
_build/
riak_test/ebin
tests/20*
tests/current
.eunit
log
bb-*-fruit*
.local_dialyzer_plt
.yokozuna_test_dialyzer_plt
dialyzer_warnings
dialyzer_unhandled_warnings
/.eqc-info
/current_counterexample.eqc
