*~
deps
ebin
priv/java_lib
priv/solr*
priv/conf/lang
build/
*.class
*.tgz
riak_test/ebin
tests/20*
tests/current
.eunit
log
bb-*-fruit*
.local_dialyzer_plt
.yokozuna_test_dialyzer_plt
dialyzer_warnings
dialyzer_unhandled_warnings
