{cover_enabled, true}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.

{deps,
 [
  %% {esolr, ".*",
  %%  {git, "git://github.com/lennart/esolr.git", {branch, "master"}}},
  {ibrowse, ".*",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v3.0.4"}}},
  {lager, ".*",
   {git, "git://github.com/basho/lager", {branch, "master"}}},
  {riak_kv, ".*",
   {git, "git://github.com/rzezeski/riak_kv", {branch, "rz-yokozuna"}}},
  {riak_test, ".*",
   {git, "git://github.com/basho/riak_test", {branch, "master"}}}
 ]}.

{pre_hooks, [{compile, "./priv/grab-solr.sh"},
             {compile, "./priv/build-jar.sh"}]}.

{plugins, [rebar_riak_test_plugin]}.
{riak_test, [
    {test_paths, ["riak_test/", "deps/riak_test/tests"]},
    {test_output, "riak_test/ebin"}
]}.
