{cover_enabled, true}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps,
 [
  %% {esolr, ".*",
  %%  {git, "git://github.com/lennart/esolr.git", {branch, "master"}}},
  {ibrowse, ".*",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v3.0.4"}}},
  {lager, ".*",
   {git, "git://github.com/basho/lager", {branch, "master"}}},
  {riak_core, ".*",
   {git, "git://github.com/rzezeski/riak_core", {branch, "rz-yokozuna"}}},
  {riak_kv, ".*",
   {git, "git://github.com/rzezeski/riak_kv", {branch, "rz-yokozuna"}}}
 ]}.

{pre_hooks, [{compile, "./priv/grab-solr.sh"},
             {compile, "./priv/build-jar.sh"}]}.
